
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
      <div ngModelGroup="userDetails">
        <div class="form-group">
          <label for="userName">userName <sup>*</sup></label>
          <input type="text" 
          pattern="[a-zA-Z]+"
          minlength="6"
          maxlength="10"
          required
          ngModel name="UN" #userName="ngModel"  class="form-control">
          <p class="alert alert-info" *ngIf="userName.touched && userName.hasError('required') || userName.hasError('pattern') || userName.hasError('minlength') || userName.hasError('maxlength')">
              {{content(userName)}}
          </p>
          <!-- <ng-container *ngIf="userName.dirty">
              <p class="alert alert-info" *ngIf="userName.hasError('pattern')">
                UserName should not include spec char and numbers
              </p>
              <p class="alert alert-info" *ngIf="userName.hasError('minlength')">
                minlenghth should be 6
              </p>
              <p class="alert alert-info" *ngIf="userName.hasError('maxlength')">
                maxlength should be 8 
              </p>
          </ng-container> -->
        </div>
        <div class="form-group">
          <label for="email">Email <sup>*</sup></label>
          <input type="text" 
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          ngModel  name="EM" #email="ngModel" required class="form-control">
          <p class="alert alert-danger" *ngIf="email.touched && email.hasError('required') || email.hasError('pattern')">
            {{content(email)}}
          </p>
          <!-- <p class="alert alert-danger" *ngIf="email.dirty && email.hasError('pattern')">
            email pattern is incorrect
          </p> -->
        </div>
      </div>
        <div class="form-group">
          <label for="secreteQuestion">secrete Question <sup>*</sup></label>
          <select name="secreteQuestion" ngModel required #secreteQuestion="ngModel" id="secreteQuestion" class="form-control">
            <option value="favourateBook">Favourate Book</option>
            <option value="favourateTeacher">Favourate Teacher</option>
            <p class="alert alert-info" *ngIf="secreteQuestion.touched && secreteQuestion.hasError('required')">
                {{content(secreteQuestion)}}
            </p>
          </select>
        </div>
        <div class="form-group">
          <label for="answer">Ans: <sup>*</sup></label>
          <input type="text" name="answer" required ngModel #answer="ngModel" class="form-control">
          <p class="alert alert-info" *ngIf="answer.touched && answer.hasError('required') || answer.dirty">
            {{content(answer)}}
          </p>
        </div>
        <div class="form-group">
          <label for="isSubscribed">
            <input type="checkbox" name="isSubscribed" id="isSubscribed" 
            value="false"
            ngModel
            #isSubscribed="ngModel">
            Subscribe To Email
          </label>
        </div>
        <p>Mode of Contact</p>
        <div class="form-group">
          <label for="Email">
            Email: 
            <input type="radio"
            ngModel
            #Email="ngModel"
            required
            name="contactMode" id="email" value="Email">
          </label>
          <p class="alert alert-info" *ngIf="Email.touched && Email.hasError('required') || Email.dirty">
            {{content(Email)}}
          </p>
        </div>
        <div class="form-group">
          <label for="Phone">
            Phone: 
            <input type="radio"
            ngModel
            #Email="ngModel"
            required
            name="contactMode" id="Phone" value="Phone">
          </label>
        </div>
        <div class="text-right">
          <button type="submit" 
          class="btn btn-primary">signUp</button>
          <button class="btn btn-primary" (click)="patchValue()">patch Button</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" -->
<!-- [disabled]="signUpForm.invalid" -->
